page-donut{

       body, html {height:70%}

body,h1,h2,h3,h4,h5,h6 {
font-family: "Amatic SC", sans-serif;
font-size:10px;
}

//.menu {display: none}
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/burger.jpg");
    min-height: 100%;
    //font-family: "Amatic SC", sans-serif
    

    

}
ion-toolbar{
   font-family: "Amatic SC", sans-serif;
   font-size:26px;
}

ion-title{
    font-family: "Amatic SC", sans-serif;
    font-size:26px;

}

 ion-content{
     font-family: "Amatic SC", sans-serif;
     font-size:10px;


 }



}

